@page "/game/{usernick}/{level}"

<div>    Game started with user nick @UserNick
             Key pressed is @KeyPressed
</div>
<div class="game-window" tabindex="0" @ref="GameDiv" @onkeypress="@Move">
    @foreach (var renderable in ToRender)
    {
        <div class="@renderable.CssClass" style="@renderable.CssStyle" draggable="false" dragstart="false;"> </div>
    }      
</div>